var map = L.map('map').setView([40, -96], 3.5);
L.tileLayer('https://{s}.basemaps.cartocdn.com/rastertiles/voyager/{z}/{x}/{y}{@2x}.png',{
minZoom: 1,
maxZoom: 18,
subdomains: 'abcd',
attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> Contributors | &copy; <a href="https://carto.com/attributions">CARTO</a>',
crossOrigin: true
}).addTo(map);

{% for link in site.data.map.upcoming %}

var marker = L.marker([{{ link.coordinates }}]).addTo(map);
marker.bindPopup("<b>{{ link.title }}</b><br>{{ link.location }} (Upcoming)");
marker._icon.classList.add("huechange");

{% endfor %}

