@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');

body {
    background-color: #efefef;
    padding:50px;
    font: 16px Ubuntu, sans-serif;
    color:#222222;
    font-weight:400;
    line-height: 3;
  }

  h2 {
    font-family: Vollkorn;
    font-weight: 700;
    font-size: 25px;
  }