@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

body {
    background-color: #efefef;

    font: 16px Ubuntu, sans-serif;
    color:#222222;
    font-weight:400;
    line-height: 1.5;
  }

